.App{
  padding: 0em 4em 4em 4em;
}
.main{
  display: flex;
  justify-content: center;
}
.apptitle{
  text-align: center;
  
  font-size: 2em;
  margin: 5vh;
}
.meowter{
  font-family: 'Silkscreen', cursive;
}
.postsSection{
  background-color: white;
}
.usersSection{
  margin-top: 2vh;
  margin-left: 3vw;
}